* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vmax auto;
	width: 80vw;
	max-width: 100%;
}
.productList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vmax auto;
	width: 80vw;
	max-width: 100%;
}
.mobilelistHeading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4vmax;
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
	width: 20vmax;
	padding: 1vmax;
	margin: 2vmax auto;
	margin-top: 10vmax;
	margin-right: 30vmax;
	color: rgb(58, 45, 45);
}
.computerCategoryHeading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4vmax;
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
	width: 20vmax;
	padding: 1vmax;
	margin: 2vmax auto;
	margin-top: 10vmax;
	margin-right: 30vmax;
	color: rgb(58, 45, 45);
}
.productCard {
	width: 14vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: rgb(48, 48, 48);
	margin: 2vmax;
	transition: all 0.2s;
}
.productCard:hover {
	transform: scale(1.1);
	transition: all 0.2s;
}
.productCard > img {
	width: 14vmax;
	height: auto;
}
.productCard > div {
	margin: 0.5vmax;
	display: flex;
	justify-content: flex-start;
}
.productCard > div > span {
	margin: 0.5vmax;
	font: 300 0.7vmax "roboto";
}
.productCard > p {
	font-family: "roboto";
	font-size: 1.2vmax;
	margin: 1vmax 0.5vmax;
	margin-bottom: 0;
}
.productCard > span {
	margin: 0.5vmax 0.5vmax;
	color: tomato;
	font-family: "roboto";
	font-size: 1vmax;
}
.productCard:hover {
	box-shadow: 0 0 5px rgba(25, 35, 45, 0.26);
	transform: translateY(-0.5vmax);
	transition-delay: 0.5ms;
	text-decoration: none;
}
/* category */
.category-heading {
	margin-left: 10px;
}
.categoryBox {
	margin-top: 10px;
	margin-left: 10px;
}

.category-link {
	list-style: none;
	width: 8vmax;

	padding: 2px;
	cursor: pointer;
	transition: all 0.5s;
	font: 200 0.7vmax "roboto";
}
.category-link:hover {
	color: #ffc107;
	transition: all 0.5s;
}

@media screen and (max-width: 782px) {
	.productCard > div {
		margin: 0vmax;
		display: block;
	}
	.productCard > p {
		font-size: 1vmax;
	}
	.productCard > div > span {
		font-size: 1vmax;
	}
	.productCard > div > span {
		margin: 0 1vmax;
		font: 400 1.3vmax "roboto";
	}
	.category-link {
		font-size: 1.2vmax;
	}
}

@media screen and (max-width: 600px) {
	.productCard > p {
		font-size: 1.7vmax;
	}
	.productCard > div {
		margin: 0vmax;
		display: block;
	}
	.productCard > span {
		font-size: 1.5vmax;
	}
	.productCard > div > span {
		margin: 0 0.5vmax;
		font: 300 1vmax "roboto";
	}
}
