body {
	font-family: "Roboto Condensed", sans-serif;
	background-color: #f5f5f5;
}

.hedding {
	font-size: 20px;
	color: #ab8181;
}

.main-section {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 5%);
}

.left-side-product-box img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.right-side-pro-detail p {
	font-size: 25px;
	color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
	color: #e45641;
}

.right-side-pro-detail .tag-section {
	font-size: 18px;
	color: #5d4c46;
}

.pro-box-section .pro-box img {
	width: 100%;
	height: 200px;
}
#main {
	width: 100vw;
	height: 80%;
}
#review {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-top: 1px solid #948e8e;
	border-bottom: 1px solid #948e8e;
	padding: 5px;
}
#numReview {
	margin-left: 20px;
}
#prdname {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5px;
	margin-left: 10px;
}
#stars {
	font-size: 30px;
}
#price {
	color: #0c0b0b;
	font: 400 1.8vmax sans-serif;
	margin: 1vmax 0;
}
#inputDetails {
	display: flex;
}
#btnIcnDec {
	border: none;
	background-color: black;
	padding: 0.5vmax;
	cursor: pointer;
	color: white;
	transition: all 0.5s;
}

#inputDefault {
	height: 33px;
}
.btn {
	border: none;
	cursor: pointer;
	color: white;
	background-color: tomato;
	font: 500 0.5vm sans-serif;
	border-radius: 25px;
	padding: 0.5vmax 2vmax;
	margin: 1vmax;
	outline: none;
}
.btn:hover {
	background-color: #741203;
}
#stockPara {
	border-top: 1px solid rgb(24, 21, 21);
	border-bottom: 1px solid rgb(24, 21, 21);
	padding: 1vmax 0;
	color: rgba(0, 0, 0, 0.65);
	font: 400 1vamx "roboto";
	margin: 1vmax 0;
}
#top {
	display: flex;
	justify-content: center;
	color: #0c0b0b;
	border-bottom: 1px solid #948e8e;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.reviewCard {
	flex: none;
	display: flex;
	display: inline-block;
	box-shadow: 0 0 5px rgba(65, 62, 62, 0.5);
	border: 1px solid #948e8e;
	width: 100%;
	margin-top: 30px;
	height: auto;

	/* remove the scroll behaviour */
	margin-bottom: 4vmax;
}
.profile {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}
.reviewInfo {
	flex: none;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 10px;
	margin-top: 10px;
}
.userReview {
	font-size: 20px;
	color: #0c0b0b;
	font-family: Arial, Helvetica, sans-serif;
}
.comm {
	display: flex;
	display: inline-block;
}
.noReviews {
	font: 600 1.3vmax sans-serif;
	color: #0c0b0b;
	text-align: center;
	margin-top: 7vmax;
}
@media screen and (max-width: 700px) {
	.reviewCard {
		flex-direction: column;
	}
	.profile {
		width: 50px;
		height: 50px;
	}
	.reviewInfo {
		margin-left: 0;
		margin-top: 0;
	}
	.userReview {
		font-size: 15px;
	}
	.comm {
		margin-top: 10px;
	}
}
@media (min-width: 360px) and (max-width: 640px) {
	.pro-box-section .pro-box img {
		height: auto;
	}
}
