.password-Container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(236, 235, 235);
	position: fixed;
	top: 0%;
	left: 0;
}

.updtePassword-Box {
	width: 25vw;
	height: 70vh;
	background-color: white;
	box-sizing: border-box;
	overflow: hidden;
}

.updateform {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 2vmax;
	margin-top: 13px;
	justify-content: space-evenly;
	width: 100%;
	height: 70%;
	transition: all 0.5s;
}

.updateform > div {
	display: flex;
	width: 100%;
	align-items: center;
}
.updatePassword-input {
	padding: 1vmax 4vmax;
	padding-right: 1vmax;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	margin: 2vmax 0;
	font: 500 0.8vmax "Roboto", sans-serif;
	outline: none;
}

.updateform > div > svg {
	position: absolute;
	transform: translateX(1vmax);
	transition: all 0.5s;
	font-size: 1.6vmax;
	color: rgb(148, 147, 147);
}

.updatebtn {
	border: none;
	background-color: tomato;
	color: white;
	font: 300 0.9vmax "Roboto", sans-serif;
	width: 100%;
	padding: 0.8vmax;
	transition: all 0.5s;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
	margin-top: 35px;
}

.updatebtn:hover {
	background-color: rgb(255, 255, 255);
	color: tomato;
}

@media screen and (max-width: 600px) {
	.password-Container {
		background-color: white;
	}
	.updtePassword-Box {
		width: 100vw;
		height: 95vh;
	}

	.updatePassword-input {
		padding: 2.5vmax 5vmax;
		font: 300 1.7vmax "curisve";
	}

	.updatebtn {
		font: 300 1.5vmax "Roboto", sans-serif;
		padding: 1.5vmax;
	}

	.updateform > div > svg {
		font-size: 2.5vmax;
	}

	.updatebtn {
		font: 300 1.9vmax "Roboto", sans-serif;
		padding: 1.8vmax;
	}
}
